// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$position-values: (
  0: 0,
  7: 7%,
  10: 10%,
  50: 50%,
  100: 100%
);

